@model IEnumerable<Lab4_Productos__C06978_.Models.Producto>

<h2>Catálogo de Productos</h2>
<p><a asp-action="Crear" class="btn btn-primary">Crear Nuevo Producto</a></p>

@if (!Model.Any())
{
    <p>No hay productos registrados.</p> @* *@
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>₡@item.Precio.ToString("N2")</td>
                    <td>@item.Categoria</td>
                    <td>
                        <a asp-action="Detalles" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


